*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.input-control {
    border-radius: 4px;
}

.bold {
    font-weight: 900;
    COLOR: #e0afa0;
}

a{
    text-decoration: none !important;
    color: #fff !important;
}


body::after {
    position: absolute;
    opacity: 0.6;
    width: 100%;
    height: 100%;
}


.wrapper.active {
    display: block;
}


.accelarate-btn.deactivate {
    display: none;
}


h2 {
    font-size: 45px !important;
    text-align: center;
    margin-bottom: 40px !important;
}

.header {
    position: absolute;
    top: 0;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.navbar-brand {
    width: 92px;
}

.navbar-brand img {
    display: block;
    width: 100%;
    height: 100%;
}

.navbar-collapse {
    flex-grow: 0 !important;
    background-color: #e0afa0;
    z-index: 3;
    width: 100%;
    justify-content: center;
    display: flex;
    position: absolute;
    top: 136px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

@media (min-width:992px) {
    .navbar-collapse {
        background-color: transparent;
        width: auto;
        justify-content: start;
        display: flex;
        position: static;
    }
}

.container {
    max-width: 1450px;
}

.hamburger-item .nav-link {
    color: #F4F3EE;
    font-size: 20px;
}

.hamburger-content-nav {
    gap: 77px;
}

.bg-body-tertiary {
    background-color: transparent;
}

.header .navbar-expand-lg {
    background-color: transparent !important;
}

.navbar-expand-lg {
    padding: 0 !important;
}

.nav-link:hover {
    color: #E0AFA0 !important;
}

/* ----------------------hamburger--------------------- */


.hamburger .line{
    display: block;
    width: 28px;
    height: 2px;
    background-color: #fff;
}

.hamburger .line:not(:last-child){
    margin-bottom: 6px;
}

.cross-icon{
    display: block;
    background: url(../images/cross-seller.svg) no-repeat center;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}

.hamburger-content-nav{
    display: none;
}

.hamburger-content-nav.remove{
    display: none !important;
}

.hamburger-content-nav.active{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    z-index: 0;
    width: 47%;
    height: 100vh;
    padding: 83px 0 0 42px;
}

.hamburger-content-nav.active li{
    list-style: none;
    margin-bottom: 10px;
    border-bottom: 1px solid #80808038;
}

.hamburger-content-nav.active li a{
    color: #000 !important;
    font-size: 22px;
    padding: 5px 0;
}



/* -------------------------banner-start-------------------- */

.banner-img {
    height: 100%;
}

.banner-img img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 0.1;
}

.banner {
    background-color: #463F3A;
    position: relative;
    height: 100vh;
    z-index: 0;
    background-image: url(../images/banner-img.png);
    background-size: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
}

@media (min-width:475px) {
    .banner {
        /* background-position-y: 129%; */
    }
}

@media (min-width:600px) {
    .banner {
        /* background-position-y: 197%; */
    }
}
/* 
.banner {
    background-color: #463F3A;
    position: relative;
    height: 100vh;
    z-index: 0;
    background-image: url(../images/banner-img.png);
    background-size: 111%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-position-y: 36%;
} */

@media (min-width:714px) {
    .banner {
       
    }
    .banner {
        background-color: #463F3A;
        position: relative;
        height: 100vh;
        z-index: 0;
        background-image: url(../images/banner-img.png);
        background-size: 111%;
        background-position: bottom center;
        background-repeat: no-repeat;
        background-position-y: 36%;
    }
}

@media (min-width:768px) {
    .banner {
       
    }
}

@media (min-width:992px) {
    .banner {
        
    }
}

.banner-content {
    color: #F4F3EE;
    padding: 100px 0;
}

h1 {
    /* font-family: "Anton", sans-serif; */
    font-size: 30px !important;
    text-align: center;
    margin-bottom: 19px !important;
    color: #fff !important;
}

@media (min-width:600px) {
    h1 {
        text-shadow: 0 6.36px 11.896px #2a2626, 0 2px 2px #000000;
    }
}

@media (min-width:475px) {
    h1 {
        font-size: 34px !important;
    }
}

@media (min-width:768px) {
    h1 {
        font-size: 39px !important;
    }

}

@media (min-width:992px) {
    h1 {
        font-size: 54px !important;
    }
}

.banner .stop {
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 7px;
}

@media (min-width:600px) {
    .banner  .stop{
        text-shadow: 0 6.36px 11.896px #2a2626, 0 2px 2px #000000;
    }
}



.vankri-btn {
    text-decoration: none;
    color: #463F3A;
    background-color: #E0AFA0;
    border-radius: 26px;
    display: inline-block;
    padding: 10px 18px;
    font-size: 12px;
    align-items: center;
    position: relative;
}


.banner .container {
    position: absolute;
    top: 20%;
    left: 0;
    align-items: center;
    right: 0;
    color: #F4F3EE;
    z-index: 2;
}
   

/* ---------------------first-section---------------------------- */

.first {
    position: relative;
    overflow: hidden;
}

.first h3 {
    text-align: center;
    color: #000;
    font-size: 40px;
    font-weight: 900;
}

.first .first-content {
    color: #761414;
}

.first-content {
    padding: 168px 144px;
}

.first-blank {
    background-color: #F4F3EE;
    padding: 60px 0;
}

.first .first-img {
    position: absolute;
    background-color: #463F3A;
    height: 300px;
    width: 300px;
    border: 6px solid #761414;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 6px;
}

.first .first-img img {
    display: block;
    width: 100%;
    height: 100%;
}

/* ---------------------about-us-------------------------- */

.about-us {
    padding: 50px 0;
    position: relative;
    overflow: hidden;
}


.about-us::after {
    content: "";
    width: 800px;
    height: 800px;
    background-color: rgba(138, 129, 124, 0.5);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    right: 0;
    top: 73%;
}

@media (min-width:992px) {
    .about-us::after {
        top: 47%;
    }
}

@media (min-width:992px) {
    .about-us::before {
        content: "";
        width: 400px;
        height: 400px;
        background-color: rgba(138, 129, 124, 0.5);
        position: absolute;
        border-radius: 50%;
        z-index: -1;
        left: 199px;
        top: -11%;
    }
}


.about-us h3 {
    text-align: center;
    color: #000;
    font-size: 40px;
    font-weight: 900;
}

.about-us .about-img img {
    display: block;
    width: 100%;
    height: 100%;
}

.about-us p {
    font-size: 18px;
}

/* ---------------------contact-us-------------------------- */

.contact-us{
    background: #ECECEC;
    position: relative;
    color: #000 !important;
    overflow: hidden;
    /* padding: 40px 0; */
}


.contact-us .container {
    position: relative;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-us .container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 98%;
    width: 400%;
    height: 100%;
    background: #E0AFA0;
    display: none;
}

@media(min-width: 992px){ 
    .contact-us .container::after{
        display: block;
    }
}

.contact-us .container .formbx {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

@media (min-width: 768px) {
    .contact-us .container .formbx {
        width: 50%;
    }
    
}

.send-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .send-btn{
        display: block;
    }
}

.contact-us .container .formbx form {
    position: relative;
    width: 100%;
}
@media (min-width: 1200px) {
    .contact-us .container .formbx form {
        padding: 0 0 0 75px;
    }
}

.contact-us .container .formbx form h2 {
    color: #000;
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 2px;
    margin-bottom: 40px;
    margin-top: 26px;
}

.contact-us .container .formbx form .inputbox {
    position: relative;
    margin-bottom: 40px;
}

.contact-us .container .formbx form .inputbox:last-child {
    margin-bottom: 0px;
}

.contact-us .container .formbx form .inputbox input, .container .formbx form .inputbox textarea {
    position: relative;
    background: transparent;
    outline: none;
    border: none;
    width: 100%;
    color: #000;
    padding-bottom: 10px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    border-bottom: 2px solid #000;
    resize: none;
}

.contact-us .container .formbx form .inputbox textarea {
    height: 100px;
}

.contact-us .container .formbx form .inputbox input[type="submit"] {
    background: #463f3a;
    padding: 8px 20px;
    margin-top: -10px;
    width: 100px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 9px;
}

.contact-us .container .formbx form .inputbox input[type="submit"]:hover {
    background: #3498db;
    border-radius: 10px;
    transition: 0.8s;
}

.contact-us .container .formbx form .inputbox input[type="submit"]:focus {
    background: #000;
    color: #111;
}

.contact-us .container .imgbx {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: none;
}

@media (min-width: 992px) {
    .contact-us .container .imgbx {
       display: block;
    }
}


.contact-us .container .imgbx::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E0AFA0;
    transform-origin: top;
    transform: skewX(25deg) translate(10%);
}

.contact-us .container .imgbx img {
    position: absolute;
    top: 180px;
    left: 70px;
    max-width: 95%;
    max-height: 95%;
}

.contact-us .container .formbx form .inputbox input[type="submit"]:focus {
    background: rgb(70 63 58 / 71%);
    color: #fff;
}


.contact-us .container .formbx form .inputbox input[type="submit"]:hover {
    background: rgb(70 63 58 / 71%);
}



/* ----------------------------------footer-------------------------- */

.footer {
    padding: 40px 0;
    background-color: #463F3A;
    color: #fff
}

/* .footer .container {
    width: ;
} */

.footer .vankri-btn {
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.logo-img-wrap {
    width: 150PX;
    margin: 0 auto;
}



@media (min-width:768px) {
    .logo-img-wrap {
        margin: 0;
    }
}
.logo-img-wrap img {
    display: block;
    width: 100%;
    height: 100%;
}

.footer .input-control {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
   
}

.footer .join-us {
    margin-bottom: 13px;
    display: block;
}

.footer .join-us-block{
    display: none;
}

@media (min-width: 768px){
    .footer .join-us-block{
        display: block;
    }
}

.footer-logo{   
    margin: 0 auto;
}
@media (min-width: 768px) {
    .footer-logo{
        margin: 0;
    }
}

.phone-icon{
    display: inline-block;
    background: url(../images/phone-call.png) no-repeat center;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(26%) saturate(5082%) hue-rotate(294deg) brightness(92%) contrast(90%);
}

.mail-icon{
    display: inline-block;
    background: url(../images/email.png) no-repeat center;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(26%) saturate(5082%) hue-rotate(294deg) brightness(92%) contrast(90%);
}

.location-icon{
    display: inline-block;
    background: url(../images/gps.png) no-repeat center;
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    filter: brightness(0) saturate(100%) invert(100%) sepia(26%) saturate(5082%) hue-rotate(294deg) brightness(92%) contrast(90%);
}

.footer .contact-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer .upper-footer{
    position: relative;
    padding-bottom: 40px;
}

.footer .upper-footer::after{
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #E0AFA0;
    position: absolute;
    top: 100%;
}



